<div class="header">
  <section>
    <div class="content">

    </div>
    <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#32333c" fill-opacity="1"
            d="M0,320L48,320C96,320,192,320,288,293.3C384,267,480,213,576,202.7C672,192,768,224,864,213.3C960,203,1056,149,1152,144C1248,139,1344,181,1392,202.7L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
    </svg>
  </section>
</div>


<div class="container-fluid mb-3 text-white">
  <div class="row">
    <div class="col">
      <div class="container main-container">
        <div class="bg"></div>
        <h1 class="p-3 text-center">Welcome to Dubai</h1>

        <p class="p-3 text-justify">
          Dubai is the most populous city in the United Arab Emirates (UAE) and the capital of the Emirate of Dubai.
          Located in the eastern part of the Arabian Peninsula on the coast of the Persian Gulf, Dubai aims to be the business hub of Western Asia.
          It is also a major global transport hub for passengers and cargo. Oil revenue helped accelerate the development of the city, which was already a major mercantile hub.
          Dubai's oil output made up 2.1 percent of the Persian Gulf emirate's economy in 2008. A centre for regional and international trade since the early 20th century,
          Dubai's economy relies on revenues from trade, tourism, aviation, real estate, and financial services.
          According to government data, the population of Dubai is estimated at around 3,400,800 as of 8th of September 2020.</p>

        <div class="weather">
          <sc-skycons [weather]="'PARTLY_CLOUDY_DAY'" [color]="'white'"></sc-skycons>
        </div>
      </div>


      <div class="container">

      </div>
    </div>
  </div>
</div>



