@import "../../../../assets/style/variables.scss";

section {
  position: relative;
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  box-sizing: border-box;
  background: url("https://images.unsplash.com/photo-1490381541006-5611e864dfc0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-blend-mode: screen;
  background-repeat: no-repeat;
  background-position: 0px -475px;
  background-size: cover;

  .content {
    max-width: 700px;
    position: relative;
    z-index: 1;

    .bg {
      position: absolute;
      z-index: -1;
      padding: 20px;
      background: black;
      opacity: .6;
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }

    h1 {
      font-size: 3em;
      color: #fff;
    }

    p {
      font-size: 1.2em;
      color: #fff;
    }
  }
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 1100px) {
  section {
    background-position: center;
  }

}
