@import "../../../../assets/style/variables.scss";

section {
  position: relative;
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  box-sizing: border-box;
  background: url("https://images2.alphacoders.com/898/thumb-1920-898153.jpg");
  background-blend-mode: screen;
  background-repeat: no-repeat;
  background-position: 0px -418px;
  background-size: cover;

  .content {
    max-width: 700px;
    position: relative;
    z-index: 1;

    .bg {
      position: absolute;
      z-index: -1;
      padding: 20px;
      background: black;
      opacity: .6;
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }

    h1 {
      font-size: 3em;
      color: #fff;
    }

    p {
      font-size: 1.2em;
      color: #fff;
    }
  }
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
}

.weather {
  width: 200px;
  height: 200px;
  background: #061840;
  margin: 50px;
  border-radius: 100%;
  box-shadow: inset 0 0 0 3px white;
  border: 1px solid #061840;
}

@media screen and (max-width: 1100px) {
  section {
    background-position: center;
  }

  .container-fluid {
    margin-top: 40px;
  }

}
