
.main-container {
  color: black;
  margin-left:auto;
  margin-right:auto;
  border-radius: 5px;
  padding: 10px;
  width: 50%;
  box-shadow: 0 10px 14px 10px rgba(00,00,00,0.2);
  background-color: #dad4d4;
}



@media screen and (max-width: 1100px) {
  .main-container {
    width: 90%;
    height: 470px;
  }


}
