@import 'variables';

.main-container {
  color: black;
  //margin-left: auto;
  //margin-right: auto;
  border-radius: 10px;
  padding: 10px;
  //width: 50%;
  box-shadow: $shadow;
  background-color: #ececec;
}

@media screen and (max-width: 1100px) {
  .main-container {

  }
}
