<app-loader [loading]="loading"></app-loader>
<ng-container *ngIf="landmark; else noLandmark">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="container">
          <div >
            <img class="image-header"
                 [lazyLoad]="headerPhoto"
                 [defaultImage]="defaultImage" alt="">
            <div class="landmark-title text-center">
              {{landmark.title}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col">
        <div class="container landmark-view">

          <app-icon-title [icon]="'info-circle'" title="Short info" [text]="landmark.short_info"></app-icon-title>
          <app-icon-title [icon]="'file'" title="Description" [text]="landmark.description"></app-icon-title>

          <div class="mb-4">
            <app-icon-title
              [icon]="'map-marker'"
              title="Location"
              [hasMap]="true"
              [lat]="landmark.location.latitude"
              [lng]="landmark.location.longitude">
            </app-icon-title>
          </div>

          <div class="pb-3 text-center">
            <button class="btn button-orange" (click)="navigateToUrl(landmark.url)">More info</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #noLandmark>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="container">
          <div class="alert alert-danger mt-4" role="alert">
           Landmark not found!
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
