<app-loader [loading]="loading"></app-loader>

<app-header></app-header>

<div class="main-container vertical-center">


  <div class="card mb-5" *ngFor="let landmark of landmarks">
    <div class="row no-gutters">
      <div class="col-auto">
        <img src="//placehold.it/200" class="img-fluid" alt="">
      </div>
      <div class="col text-center">
        <div class="card-block px-2">
          <button class="btn btn-primary m-3 " [routerLink]="['/landmark', landmark.objectId]">{{landmark.title}}</button>
<!--          <h4 class="card-title" ></h4>-->
          <p class="card-text">{{landmark.short_info}}</p>

        </div>
      </div>
    </div>

  </div>

</div>
