@import "../../../assets/style/variables";

.home-button {
  background: $orange!important;
  color: white;
}

.card-style {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #525361;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 1.25rem;
  color: white;
  box-shadow: $shadow;
}

.edit-button {
  position: absolute;
  right: -25px;
}

.img-fluid {
  width: 250px;
  height: 250px;
  border-radius: 1.25rem 0 0 1.25rem;
}


@media screen and (max-width: 1100px) {
  .img-fluid {
    width: 323px;
  }
}

.custom-modal {
  width: 900px;
}
.modal {
  padding: 0 !important; // override inline padding-right added from js
}
.modal .modal-dialog {
  width: 100%;
  max-width: none;
  height: 100%;
  margin: 0;
}
.modal .modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
}
.modal .modal-body {
  overflow-y: auto;
}

.link {
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 10px;
  display: inline-block;
}

.card-text {
  font-size: .9rem;
}
