<div class="container-fluid sticky-top"  style="background: #061840!important;">
 <div class="row">
   <div class="col">
     <div class="container">
       <nav class="navbar  navbar-expand-lg navbar-light p-0">
         <div class="flex-grow-1 position-relative text-center align-middle py-1">
           <button (click)="toggleMenu()"
                   class="side-menu-toggler d-lg-none d-block position-absolute"
                   type="button"
                   aria-expanded="false"
                   aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">

      </span>
           </button>
           <a class="navbar-brand text-white" [routerLink]="['']">Dubai</a>
         </div>

         <div class="d-none d-lg-block w-100 align-middle">
           <div class="collapse navbar-collapse show">
             <ul class="menu-items navbar-nav ml-auto mt-lg-0">
               <li class="nav-item">
                 <a class="nav-link" [routerLink]="['']">Home</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" (click)="openLoginModal(loginModal)">Login</a>
               </li>
             </ul>
           </div>
         </div>
       </nav>

       <app-sidenav [opened]="showMenu"
                    (sidebarClose)="toggleMenu(false)"
                    width="60%"
                    [hasClose]="true"
                    class="d-block d-lg-none">
         <ng-container header>
           <a class="navbar-brand text-white" [routerLink]="['']">Dubai</a>
         </ng-container>
         <ng-container content>
           <ul class="sidenav menu-items navbar-nav ml-auto mt-2 mt-lg-0 text-left px-2 pt-2">
             <li class="nav-item ">
               <a class="nav-link" [routerLink]="['']">Home</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" (click)="openLoginModal(loginModal, true)">Login</a>
             </li>
           </ul>
         </ng-container>
       </app-sidenav>

     </div>
   </div>
 </div>
</div>


<ng-template #loginModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Login</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
       <div class="container-fluid">
           <div class="row">
               <div class="col">
                   <div class="container">
                       <div class="form-group">
                           <label for="exampleInputEmail1">Username</label>
                           <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="username">
                       </div>
                       <div class="form-group">
                           <label for="exampleInputPassword1">Password</label>
                           <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="password">
                       </div>

                       <div class="text-center">
                           <button class="btn btn-primary" [disabled]="!username || !password" (click)="onLogin()">Login</button>
                       </div>
                   </div>
               </div>
           </div>
       </div>
    </div>
</ng-template>
